@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #0313b0;
  --color-accent: #1143ad;
  --color-secondary: #FBFFFF;
}